*, :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-fon-smoothing: antialiased;
    -moz-osx-font-smoothin: grayscale;
    -webkit-text-size-adjust: 100%;
  }