body{
  background-color: #7DA0CA;
}

main {
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
}

header {
  margin-top: 64px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ffffff;
}

header h1 {
  margin-top: 24px;
  font-size: 30px;
  color: #ffffff;
}

#quiz {
  counter-reset: quiz-item;
}

.quiz-item {
  margin-top: 24px;
  margin-bottom: 95px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  overflow: hidden;
}

.quiz-item h3 {
  padding: 16px 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #052659
}

.quiz-item h3:before{
  counter-increment: quiz-item;
  content: counter(quiz-item);
  background-color: #7DA0CA;
  border-radius: 50%;
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  font-size: 12px;
  justify-content: center;
  flex-shrink: 0;
}

.quiz-item dl {
  padding: 20px 24px;
  display: grid;
  gap: 8px;
}

.quiz-item dl dt {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
}

input {
  all: unset;
  border: 1px solid #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

input:checked {
  border: 1px solid #ffffff;
}

input:checked:before {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 50%;

}

#acertos {
  text-align: center;
  background-color: #052659;
  margin-top: 10px;
  border-radius: 6px;
  padding: 12px;
  width: 100%;
  color: #eeeeff;
  top: 0;
  left: 0;
}
